@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');


body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #121219 10%, #6063a4 100%);
}

.dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.top-readers, .top-donors{
  text-align: center;
  background-color: rgba(24, 24, 32, 0.4);
  border: 0.15vwpx solid rgba(0, 0, 0, 0.3);
  border-radius: 2vh; 
  padding: 1rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
}
.readers-item, .donors-item {
  text-align: start;
}

.card {
  text-align: center;
  background-color: rgba(24, 24, 32, 0.4);
  border: 0.15vwpx solid rgba(0, 0, 0, 0.3);
  border-radius: 2vh; 
  color: #FFFFFF;
  padding: 1rem;
  margin-bottom: 1rem;
 
}

.card h2 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  
  border: 1px solid #e0e0e0;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: #000040;
  font-weight: bold;
}

.book-item {
  text-align: start;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-right: 5rem;
  border-bottom: 1px solid #e0e0e0;
}

.book-cover {
  width: 50px;
  height: 75px;
  background-color: #e0e0e0;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.book-info {
  flex: 1;
  padding-left: 2rem;
}

.top-list {
  background-color: #e6f7ff;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  
}

.top-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
  
}

.delay.atraso {
  color: red; 
}

.delay.en-tiempo {
  color: green; 
}

.nav-bar {
  background-color: #d1d5db;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.nav-button {
  background-color: #f3f4f6;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #e2e8f0;
}

.nav-button.active {
  background-color: white;
  font-weight: bold;
}